*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

#location{
    width: calc(100% - 200px);
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: whitesmoke;
}
#map{
    height: 500px;
    width: 500px;
}
.map-images img{
    height: 50px;
    width: auto;
}